<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de inicio</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <h1> Bienvenido a mi sitio web </h1>
<div class="form-buttons">
    <form action="/Ejercicio1" method="get">
        <button type="submit" name="ejercicio" value="1" class="btn-ejercicio1">Ejercicio1</button>
    </form>

    <form action="/Ejercicio2" method="get">
        <button type="submit" name="ejercicio" value="2" class="btn-ejercicio2">Ejercicio2</button>
    </form>
</div>
</body>
</html>
